@import './variables';

.decks-div{
    margin: 30px 100px;
    display: flex;
    justify-content:space-around;
    align-items:center;
}

.new-deck, .search-deck, .edit-deck{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border: 1px solid rgb(56, 56, 56);
    padding: 20px;
    height:206px;
    background-color:rgb(88, 88, 88);
    box-shadow: 5px 5px rgb(56, 56, 56); 
}

.forms-title{
    margin-bottom: 10px; 
    font-size: 24px;
    color: $fontColor;
}

.deck-forms{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.form-input{
    border-radius: 5px;
    height: 30px;
}
.form-input-margin{
    margin-bottom: 10px;
}

.your-deck{
    color: $fontColor;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
}

.delete-div{
    display: flex;
    justify-content:center;
    align-items:center;
}

.delete-button{
    border-radius:10px;
}

.delete-button:hover{
    background-color: rgb(168, 16, 16)
}

.modal-div{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.modal-title{
    margin: 20px 0 ;
    font-size:25px;
    color: $fontColor;
}